@import "tailwindcss";
@import "./base.css";


@theme {
    --color-primary: #facc15;
    --color-primary-foreground: #ffffff;

    --color-secondary: #0ea5e9;
    --color-secondary-foreground: #0f172a;
}